:root {
    --bg-trela: 0, 0, 0;
    --bg-window-trela: 255, 255, 255;
    --text-trela: #000;
    --text-light-trela: #fff;
    --warning-trela: #ffc107;
    --warning-hover-trela: #e0a800;
    --danger-trela: #dc3545;
    --danger-hover-trela: #bd2130;
    --success-trela: #28a745;
    --success-hover-trela: #218838;
}

#root-trela * {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root-trela {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--bg-trela), .60);
    padding: 1rem;
    overflow: hidden;
}

#root-trela .window-trela {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100vh);
    border-radius: 1.5rem;
    box-shadow: 2px 3px 1rem rgba(0, 0, 0, .20);
    background-color: rgb(var(--bg-window-trela));
    padding: 3rem 2rem;
    transition: transform 1s ease-in-out;
}

#root-trela .view-icon-trela {
    position: absolute;
    top: -25px;
    left: 0 auto;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(var(--bg-window-trela));
}

#root-trela .icon-trela {
    width: 30px;
    height: 30px;
    fill: var(--warning-trela);
}

#root-trela .title-trela {
    font-size: 1rem;
    color: var(--text-trela);
    text-align: center;
    margin-bottom: 1rem;
}

#root-trela .paragraph-trela {
    text-align: center;
    color: var(--text-trela);
    margin-bottom: 1.5rem;
}

#root-trela .view-action-trela {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root-trela .btn-trela {
    position: relative;
    width: 100px;
    height: 2.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 100px;
    background-color: transparent;
    margin: .3rem;
    cursor: pointer;
    transition: background-color .5s;
}

#root-trela .btn-yes-trela {
    background-color: var(--success-trela);
    color: var(--text-light-trela);
}

#root-trela .btn-yes-trela:hover {
    background-color: var(--success-hover-trela);
}

#root-trela .btn-no-trela {
    color: var(--danger-trela);
}

#root-trela .btn-no-trela:hover {
    background-color: var(--danger-hover-trela);
    color: var(--text-light-trela);
}